{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Carlos</h1>
        <h1>Castro</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/mati.jpeg" class="img-thubnail">
    </div>
    {{> footer}}
</div>

